---
import Main from "../layouts/Main.astro";
import Nav from "../components/Nav.astro";
import { Image } from "astro:assets";

import anini_beach from "/src/assets/anini_beach.jpg";
import barrel_view from "/src/assets/barrel_view.jpg";
import china_cove_rock from "/src/assets/china_cove_rock.jpg";
import dolphins from "/src/assets/dolphins.jpg";
import fog_rolling_in from "/src/assets/fog_rolling_in.jpg";
import fullers from "/src/assets/fullers.jpg";
import getchells from "/src/assets/getchells.jpg";
import greyhound_rock from "/src/assets/greyhound_rock.jpg";
import island_reflection from "/src/assets/island_reflection.jpg";
import its_beach from "/src/assets/its_beach.jpg";
import itsbeach_cave from "/src/assets/itsbeach_cave.jpg";
import LA_sunrise from "/src/assets/LA_sunrise.jpg";
import lane_moon from "/src/assets/lane_moon.jpg";
import lemon from "/src/assets/lemon.jpg";
import magic_beach from "/src/assets/magic_beach.jpg";
import morning_wave from "/src/assets/morning_wave.jpg";
import off_the_lip from "/src/assets/off_the_lip.jpg";
import pipe from "/src/assets/pipe.jpg";
import polihale from "/src/assets/polihale.jpg";
import Stornetta from "/src/assets/Stornetta.jpg";
import Sunrise_CarpLot from "/src/assets/Sunrise_CarpLot.jpg";
import sunset_jet from "/src/assets/sunset_jet.jpg";
import sweet_view from "/src/assets/sweet_view.jpg";
import the_lane_at_sunset from "/src/assets/the_lane_at_sunset.jpg";
import tunnels_beach from "/src/assets/tunnels_beach.jpg";
import uplands_view from "/src/assets/uplands_view.jpg";
import wave_at_nbs from "/src/assets/wave_at_nbs.jpg";
import waves_and_moon1 from "/src/assets/waves_and_moon1.jpg";
import waves_moon2 from "/src/assets/waves_moon2.jpg";
---

<Main title="O'Leary Studios">
  <div class="text-center mt-8 mb-4 leading-extrarelaxed">
    <Nav />
    <div class="px-12 sm:px-24" mx-auto">
      <p class="mt-4 text-lg text-slate-300">
        Welcome to O’Leary Studios, the art site of Matthew O’Leary. Thanks for
        stopping by!
        <!-- Check out my art below and see more over on <a
          href="https://www.instagram.com/olearystudios/"
          class="hover:underline text-emerald-400 hover:text-emerald-200"
          >Instagram</a
        >. -->
        <p class="mt-4 text-lg text-slate-300">
          <a
            href="mailto:mattosurf@gmail.com"
            class="hover:underline text-emerald-400 hover:text-emerald-200"
          >
            Email me</a
          > if you're interested in buying an original or print.

          <!-- See more about me
          <a
            href="/about"
            class="hover:underline text-emerald-400 hover:text-emerald-200"
            >here</a
          >. -->
        </p>
      </p>
    </div>
  </div>
  <div
    class="grid md:grid-cols-3 md:gap-x-12 place-items-start max-w-4xl mx-auto mt-12 space-y-4"
  >
    <a
      data-fslightbox="gallery"
      data-caption="Anini Beach"
      href="/anini_beach.jpg"
    >
      <Image src={anini_beach} alt="Anini Beach" />
    </a>
    <a
      data-fslightbox="gallery"
      data-caption="Barrel View"
      href="/barrel_view.jpg"
    >
      <Image src={barrel_view} alt="Barrel View" />
    </a>
    <a
      data-fslightbox="gallery"
      data-caption="China Cove Rock"
      href="/china_cove_rock.jpg"
    >
      <Image src={china_cove_rock} alt="China Cove Rock" />
    </a>
    <a data-fslightbox="gallery" data-caption="Dolphins" href="/dolphins.jpg">
      <Image src={dolphins} alt="Dolphins" />
    </a>
    <a
      data-fslightbox="gallery"
      data-caption="Fog Rolling In"
      href="/fog_rolling_in.jpg"
    >
      <Image src={fog_rolling_in} alt="Fog Rolling In" />
    </a>
    <a data-fslightbox="gallery" data-caption="Fullers" href="/fullers.jpg">
      <Image src={fullers} alt="Fullers" />
    </a>
    <a data-fslightbox="gallery" data-caption="Getchells" href="/getchells.jpg">
      <Image src={getchells} alt="Getchells" />
    </a>
    <a
      data-fslightbox="gallery"
      data-caption="Greyhound Rock"
      href="/greyhound_rock.jpg"
    >
      <Image src={greyhound_rock} alt="Greyhound Rock" />
    </a>
    <a
      data-fslightbox="gallery"
      data-caption="Island Reflection"
      href="/island_reflection.jpg"
    >
      <Image src={island_reflection} alt="Island Reflection" />
    </a>
    <a data-fslightbox="gallery" data-caption="Its Beach" href="/its_beach.jpg">
      <Image src={its_beach} alt="Its Beach" />
    </a>
    <a
      data-fslightbox="gallery"
      data-caption="Itsbeach Cave"
      href="/itsbeach_cave.jpg"
    >
      <Image src={itsbeach_cave} alt="Itsbeach Cave" />
    </a>
    <a
      data-fslightbox="gallery"
      data-caption="LA Sunrise"
      href="/LA_sunrise.jpg"
    >
      <Image src={LA_sunrise} alt="LA Sunrise" />
    </a>
    <a data-fslightbox="gallery" data-caption="Lane Moon" href="/lane_moon.jpg">
      <Image src={lane_moon} alt="Lane Moon" />
    </a>
    <a data-fslightbox="gallery" data-caption="Lemon" href="/lemon.jpg">
      <Image src={lemon} alt="Lemon" />
    </a>
    <a
      data-fslightbox="gallery"
      data-caption="Magic Beach"
      href="/magic_beach.jpg"
    >
      <Image src={magic_beach} alt="Magic Beach" />
    </a>
    <a
      data-fslightbox="gallery"
      data-caption="Morning Waves"
      href="/morning_wave.jpg"
    >
      <Image src={morning_wave} alt="Morning Waves" />
    </a>
    <a
      data-fslightbox="gallery"
      data-caption="Off The Lip"
      href="/off_the_lip.jpg"
    >
      <Image src={off_the_lip} alt="Off The Lip" />
    </a>
    <a data-fslightbox="gallery" data-caption="Pipe" href="/pipe.jpg">
      <Image src={pipe} alt="Pipe" />
    </a>
    <a data-fslightbox="gallery" data-caption="Polihale" href="/polihale.jpg">
      <Image src={polihale} alt="Polihale" />
    </a>
    <a data-fslightbox="gallery" data-caption="Stornetta" href="/Stornetta.jpg">
      <Image src={Stornetta} alt="Stornetta" />
    </a>
    <a
      data-fslightbox="gallery"
      data-caption="Sunrise_CarpLot"
      href="/Sunrise_CarpLot.jpg"
    >
      <Image src={Sunrise_CarpLot} alt="Sunrise_CarpLot" />
    </a>
    <a
      data-fslightbox="gallery"
      data-caption="Sunset_Jet"
      href="/sunset_jet.jpg"
    >
      <Image src={sunset_jet} alt="Sunset_Jet" />
    </a>
    <a
      data-fslightbox="gallery"
      data-caption="Sweet View"
      href="/sweet_view.jpg"
    >
      <Image src={sweet_view} alt="Sweet View" />
    </a>
    <a
      data-fslightbox="gallery"
      data-caption="The Lane At Sunset"
      href="/the_lane_at_sunset.jpg"
    >
      <Image src={the_lane_at_sunset} alt="The Lane At Sunset" />
    </a>
    <a
      data-fslightbox="gallery"
      data-caption="Tunnels Beach"
      href="/tunnels_beach.jpg"
    >
      <Image src={tunnels_beach} alt="Tunnels Beach" />
    </a>
    <a data-fslightbox="gallery" data-caption="Waves" href="/uplands_view.jpg">
      <Image src={uplands_view} alt="Waves" />
    </a>
    <a
      data-fslightbox="gallery"
      data-caption="Wave At NBS"
      href="/wave_at_nbs.jpg"
    >
      <Image src={wave_at_nbs} alt="Wave At NBS" />
    </a>
    <a
      data-fslightbox="gallery"
      data-caption="Waves And Moon"
      href="/waves_and_moon1.jpg"
    >
      <Image src={waves_and_moon1} alt="Waves And Moon" />
    </a>
    <a
      data-fslightbox="gallery"
      data-caption="Waves Moon"
      href="/waves_moon2.jpg"
    >
      <Image src={waves_moon2} alt="Waves Moon" />
    </a>
  </div>
</Main>
