---
import Main from "../layouts/Main.astro";
import { Image } from "astro:assets";
import image01 from "/src/assets/image01.jpg";
import image02 from "/src/assets/image02.jpg";
import image03 from "/src/assets/image03.jpg";
import images from "../data/images.json"; // Import JSON directly

// Map image names to imported images
const imageMap = {
  image01: image01,
  image02: image02,
  image03: image03,
};
---

<Main>
  <div
    id="gallery"
    class="grid md:grid-cols-3 md:gap-x-12 place-items-start max-w-4xl mx-auto mt-12"
  >
    {
      images.map((image) => (
        <a href={imageMap[image.src]} class="gallery-item">
          <Image
            src={imageMap[image.src]}
            alt={image.alt}
            width={image.width}
            height={image.height}
            class="mb-12"
          />
        </a>
      ))
    }
  </div>
</Main>

<script>
  import lightGallery from "lightgallery";
  import "lightgallery/css/lightgallery.css";

  document.addEventListener("DOMContentLoaded", () => {
    const gallery = document.getElementById("gallery");
    lightGallery(gallery, {
      selector: ".gallery-item",
    });

    // Debugging
  });
</script>
